* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    height: 70px;
    background-color: #2f3640;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
}

.header h1 {
    line-height: 70px;
    color: white;
}

.header #opt {
    display: none;
}

.content {
    width: 100%;
    margin-top: 90px;
    float: right;
    transition: .7s
}

.content img {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: auto;
}

.content p {
    text-align: justify;
    padding: 20px;
}

.sidebar {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 70px;
    background-color: #353b48;
    left: -100%;
    transition: .7s;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.sidebar ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px 25px;
    transition: .4s;
}

.sidebar ul li a span {
    margin-left: 15px;
}

a i {
    margin-right: 15px;
}

.sidebar ul li a:hover {
    border-left: 10px solid white;
}

i {
    font-size: 30px;
    color: white;
}

.social {
    margin-top: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    padding: 15px 25px;
}

.social a {
    transition: 0.4s;
}

.social a:hover {
    font-size: 35px;
}

.show-btn,
.hide-btn {
    font-size: 35px;
    color: white;
    position: fixed;
    top: 20px;
    left: 50px;
}

#chk {
    position: absolute;
    visibility: hidden;
    z-index: -10;
}

.hide-btn {
    opacity: 0;
}

#chk:checked~.sidebar {
    left: 0;
}

#chk:checked~.show-btn {
    opacity: 0;
}

#chk:checked~.hide-btn {
    opacity: 1;
}

#chk:checked~.content {
    width: 80%;
}

@media (max-width:768px) {
    .sidebar {
        width: 100%;
        text-align: center;
    }
    .social {
        margin-top: 200px;
    }
    /* .header h1 {
        display: none;
    } */
}


/* @media(min-width:501px) and (max-width:768px) {
    .social {
        margin-top: 200px;
    }
} */

@media(min-width:300px) and (max-width:450px) {
    .header #opt {
        display: block;
    }
    .header #main {
        display: none;
    }
}